
body {
  background-color: #f6eec9;
  color: #c72c41;
}
img {
  width: 100px;
}
footer{
  text-align: center;
  font-size: small;
  color: #464159;
  margin-top: 5%;
}
footer a{
  color: #801336;
  text-decoration: none;
}
footer a:hover{
  color: #c72c41;
  text-decoration: none;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fed39f;
}
.secret-text:hover {
  color: #c72c41;
}
.jumbotron {
  background-color: #f6eec9;
}

.form-control {
  width: 75%;
}

.secret-input{
  margin: 0 auto;
}

.top-secret{
  margin-top: 100px;
  text-align: center;
}