
body {
  background-color: #f6eec9;
  color: #ff6464;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fed39f;
}
.secret-text:hover {
  color: #ff6464;
}

img {
  width: 100px;
}
.jumbotron {
  background-color: #f6eec9;
}

.form-control {
  width: 75%;
  margin: 0 auto;
}